<figure class="card">
    <div class="card__hero">
        <img src="/{%IMAGE%}" alt="{%MEMBERNAME%}" class="card__img">
    </div>
    <h2 class="card__name">{%MEMBERNAME%}</h2>
    <p class="card__detail"><span class="emoji-left">Building Number</span>{%BUILDINGNUMBER%}</p>
    <p class="card__detail"><span class="emoji-left">Flat No</span>{%FLATNO%}</p>
    <div class="card__footer">
        <p class="card__price">Resident Since: {%RESIDENTSINCE%}</p>
        <a href="/member?id={%ID%}" class="card__link">Check Detailed Info <span class="emoji-right">👉</span></a>
    </div>
</figure>